[Desktop Entry]
Type=Application
Name=Documents
Icon=icon-launcher-office
Exec=env KDEHOME=/home/nemo/.cache/sailfish-office invoker --type=j -s /usr/bin/sailfish-office
Comment=Document Viewer


