[Desktop Entry]
Type=Application
Name=Documents
Name[zh_CN]=文档
X-MeeGo-Logical-Id=sailfish-office-ap-name
X-MeeGo-Translation-Catalog=sailfish-office
Icon=icon-launcher-office
Exec=env KDEHOME=/home/nemo/.cache/sailfish-office invoker --type=j -s /usr/bin/sailfish-office
Comment=Document Viewer


